*{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

body{
  background:url(https://i.ibb.co/qmFZFHp/9.jpg);
  background-size: 100% 100%;
  background-position: center 0px;
  background-attachment: fixed;
}

header nav{
  position: 0px;
  bottom: 0;
  height: 61px;
  line-height: 60px;
  width: 1366px;

  text-align: center;
  opacity: 1;
}

header nav a{
  color: black;
  display: inline-block;
  padding: 20px 30px;
  line-height: 1px;
  text-decoration: none;
  border-radius: 5px;
}

header nav a:hover{
  background: #757158;
}

iframe{
  margin: 0 auto;
  padding-top: 51PX;
  width: 579PX;
  height:378PX;
  background: center auto;
}


.slider img{
    width: 6%;
    margin-left: 90px;
    margin-right: 90px;
    padding-top:70PX;
    
    
    
    
       
}
